.Rproj.user/**
.Rhistory
.RData
R/*.html
R/rsconnect/**
docs/*.pdf
.Ruserdata
.Rproj.user

# --- 2026-2 추가 ---
.DS_Store
**/.DS_Store
R/*_files/

# --- gganimate 부산물 ---
R/gganim_plot*.png
**/figs/*.gif
